<div class="list-drone">

    <h2>Available drones</h2>

    <div id="first-div">
    {{#each this.allDrones}}
        <li>
            <span>Name: {{this.name}} |</span>
            
            <span>Propellers: {{this.propellers}} |</span>
            
            <span>Max Speed: {{this.maxSpeed}} |</span>
        </li>
        <br>
        <div>

            <button class="butt"><a href="/drones/{{this._id}}/edit">Edit</a></button>
            <form action="/drones/{{this._id}}/delete" method="post">
            <button class="butt">Delete</button>

            </form>
        </div>
        

    {{/each}}
    </div>

</div>